#!/bin/bash

cd ..
git clone https://<Auth-Token>@github.com/<Username>/<repo-name>.git

cd <repo-name>

if [ "$1" == "windows" ];
then
    ipconfig; # IF THE INPUT IS NULL
else
    ifconfig; # IF THE INPUT IS NOT NULL
fi

npm install express --save
node index.js